---
import { getCollection, render } from "astro:content";

import dayjs from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import utc from "dayjs/plugin/utc";

import Layout from "layouts/PostLayout.astro";
import Link from "components/Link.astro";
import { parseDateFromFilePath } from "lib/blog/utils";

dayjs.extend(utc);
dayjs.extend(advancedFormat);

const { entry } = Astro.props;

const { Content, remarkPluginFrontmatter } = await render(entry);

export const prerender = true;

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries
        .filter((entry) => {
            if (import.meta.env.DEV) return true;
            return !entry.id.startsWith("_");
        })
        .map((entry) => {
            const date = parseDateFromFilePath(entry.filePath!);

            return {
                params: { id: entry.id },
                props: {
                    entry: {
                        ...entry,
                        data: {
                            ...entry.data,
                            date,
                        },
                    },
                },
            };
        });
}
---

<Layout
    id={entry.id}
    title={entry.data.title}
    description={entry.data.description}
    tags={entry.data.tags}
    date={entry.data.date}
>
    <div class="flex flex-row items-start justify-start w-full">
        <div
            class="flex flex-col items-start justify-start w-full lg:w-[1110px] mt-[20px] lg:mt-[30px]"
        >
            <div
                class="flex flex-row items-start justify-start w-full mb-[25px] lg:mb-[70px]"
            >
                <h1
                    class="text-[64px] lg:text-[168px] leading-none w-full text-wrap"
                >
                    {entry.data.title.toUpperCase()}
                </h1>
            </div>
            <div
                class="flex flex-col-reverse lg:flex-row items-start justify-start w-full lg:ml-[15px] mb-[80px] lg:mb-[140px]"
            >
                <div class="flex flex-col items-start justify-start mr-auto">
                    <p class="text-lg lg:text-[24px]">author: rayhanadev</p>
                    <p class="text-lg lg:text-[24px]">
                        created: {
                            dayjs(entry.data.date)
                                .utc()
                                .format("MMMM Do, YYYY")
                                .toLowerCase()
                        }
                    </p>
                    <p class="text-lg lg:text-[24px]">
                        commit: {remarkPluginFrontmatter.commit}
                    </p>
                </div>
                <div>
                    <p class="text-lg lg:text-2xl leading-9 hidden lg:block">
                        <Link href="/thoughts">go back</Link>
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full prose-sm lg:prose prose-zinc lg:ml-[15px] text-lg lg:text-[24px]"
            >
                <Content />
                <div class="pb-16"></div>
            </div>
        </div>
        <div>
            <!-- Distortion Effect -->
        </div>
    </div>
</Layout>
