---
import { PUBLIC_GOOGLE_ANALYTICS_MEASUREMENT_ID } from "astro:env/client";
import { ClientRouter } from "astro:transitions";

import { Head } from "astro-capo";
import { SEO } from "astro-seo";

import { JSONLD } from "lib/consts";

import "styles/global.css";

const { id, title, description, tags = [], date, og, twitter } = Astro.props;

export interface Props {
    id: string;
    title: string;
    description: string;
    tags: string[];
    date: Date | string;
    og?: {
        title: string;
        description: string;
    };
    twitter?: {
        title: string;
        description: string;
    };
}
---

<!doctype html>
<html lang="en">
    <Head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <script
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(JSONLD)}
        />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />

        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />

        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" content="#ffffff" />

        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />

        <SEO
            title={`${title} | Ray Arayilakath`}
            description={description}
            canonical={import.meta.env.SITE}
            openGraph={{
                basic: {
                    type: "article",
                    title: og?.title ?? title,
                    image: `${import.meta.env.SITE}/open-graph/${id}.png`,
                },
                optional: {
                    description: og?.description ?? description,
                    locale: "en-US",
                    siteName: "rayhanadev.com",
                },
                image: {
                    alt: `A cover image for a blog post by Ray. It is black and white with a logomark of the letter R on top. The post is titled ${title} and has the description ${description}.`,
                    type: "image/png",
                },
                article: {
                    publishedTime: date.toString(),
                    modifiedTime: date.toString(),
                    authors: ["Rayhan Noufal Arayilakath"],
                    section: "Blog",
                    tags: [...tags],
                },
            }}
            twitter={{
                title: twitter?.title ?? title,
                description: twitter?.description ?? description,
                image: `${import.meta.env.SITE}/open-graph/${id}.png`,
                imageAlt: `A cover image for a blog post by Ray. It is black and white with a logomark of the letter R on top. The post is titled ${title} and has the description ${description}.`,
                card: "summary_large_image",
                site: "rayhanadev",
                creator: "rayhanadev",
            }}
        />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="RSS"
            href={`${import.meta.env.SITE}/feed.xml`}
        />

        <meta name="author" content="Rayhan Noufal Arayilakath" />
        <meta name="keywords" content={tags.join(", ")} />

        {
            import.meta.env.PROD && (
                <script
                    is:inline
                    type="text/javascript"
                    src={`https://www.googletagmanager.com/gtag/js?id=${PUBLIC_GOOGLE_ANALYTICS_MEASUREMENT_ID}`}
                />
            )
        }

        {
            import.meta.env.PROD && (
                <script
                    is:inline
                    type="text/partytown"
                    set:html={`window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '${PUBLIC_GOOGLE_ANALYTICS_MEASUREMENT_ID}');`}
                />
            )
        }

        <link href="/prism.css" rel="stylesheet" />

        <ClientRouter />
    </Head>
    <body class="flex flex-col h-[100vh] h-[100dvh] w-full p-[10px]">
        <slot />
    </body>
</html>
